## .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.suo
*.cache
*.dbmdl
*.jfm
launchSettings.json

## Rider
.idea/
*.sln.iml

## User secrets
secrets.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
